@import '~styles/config';

@function progress($color, $size) {
  $val: 5px 0 0 $size $color;

  @for $i from 6 through 500 {
    $val: #{$val}, #{$i}px 0 0 $size #{$color};
  }

  @return $val;
}

.gsapTools {
  $header: 58px;

  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9001;
  opacity: 0;
  overflow: hidden;

  min-width: 420px;
  height: 215px;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.12);

  transition: transform 200ms, opacity 200ms;
  transform: scale(0.6);
  transform-origin: 100% 100%;

  .visible & {
    opacity: 1;

    transform: scale(1);
  }

  &__header {
    display: flex;
    align-items: center;

    padding-left: 25px;
    padding-right: 25px;

    height: $header;

    background-color: #000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.14);
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__select {
    @include reset-input;
    @include responsive-font(14, 16);

    padding-right: 20px;

    color: #fff;

    cursor: pointer;

    background-color: transparent;
  }

  &__arrowDown {
    margin-left: -10px;
  }

  &__duration {
    @include responsive-font(12, 14);

    margin-left: auto;

    color: #fff;

    span { // stylelint-disable-line
      opacity: 0.6;
    }
  }

  &__cross {
    @include reset-button;

    margin-left: 25px;

    cursor: pointer;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    padding: 25px;

    height: calc(100% - #{$header});
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
  }

  &__rewind,
  &__playPause,
  &__loop {
    @include reset-button;

    display: flex;

    cursor: pointer;

    transition: transform 300ms ease;

    &:hover {
      transform: scale(1.08);
    }
  }

  &__playPause {
    width: 32px;
  }

  &__rewind {
    margin-right: 40px;
  }

  &__loop {
    margin-left: 40px;
  }

  &__timeline {
    position: relative;

    margin-top: auto;
  }

  &__toggle {
    @include reset-button;
    @include responsive-font(14, 16);

    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9002;
    opacity: 1;

    width: $header;
    height: $header;

    color: #fff;
    text-transform: uppercase;

    cursor: pointer;

    background: #000;
    border-radius: 50%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.12);

    transition: transform 160ms, opacity 160ms;
    transform: scale(1);

    .visible & {
      opacity: 0;

      transform: scale(0.6);
    }
  }
}
