@import '~styles/config';

.gsapTools {
  $header: 58px;

  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9001;

  min-width: 420px;
  height: 215px;

  background-color: #fff;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;

  &__header {
    display: flex;
    align-items: center;

    height: $header;

    padding-left: 25px;
    padding-right: 25px;

    background-color: #000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.14);
  }

  &__list {
    display: flex;
    align-items: center;

    cursor: pointer;
  }

  &__select {
    @include reset-input;
    @include responsive-font(14, 16);

    color: #fff;

    background-color: transparent;
  }

  &__arrowDown {
    margin-left: 10px;
  }

  &__duration {
    @include responsive-font(12, 14);

    margin-left: auto;

    color: #fff;

    span { // stylelint-disable-line
      opacity: 0.6;
    }
  }

  &__cross {
    @include reset-button;

    margin-left: 25px;

    cursor: pointer;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    padding: 25px;

    height: calc(100% - #{$header});
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
  }

  &__rewind {
    margin-right: 40px;
  }

  &__play {

  }

  &__loop {
    margin-left: 40px;
  }

  &__timeline {
    margin-top: auto;
  }

  &__seek {
    position: relative;
    height: 12px;

    border-radius: 12px;
    background-color: #f7f9fa;
  }

  &__progress {
    position: absolute;
    top: 0;
    left: 0;

    width: 18%;
    height: 100%;

    border-radius: 12px;
    background-color: #3ec2f1;
  }

  &__head {
    position: absolute;
    top: -4px;
    left: 15%;
    z-index: 10;

    width: 20px;
    height: 20px;

    cursor: ew-resize;

    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.22);
  }
}
