@import '~styles/config';

.intro {
  @include container;

  padding-top: 40px;
  padding-bottom: 20px;

  &__heading {
    @include will-animate;
    @include subheading(22, 26);

    margin-bottom: $gutter;

    transform: translateX(-$gutter);
  }

  &__copy {
    @include will-animate;
    @include copy(16, 18);

    max-width: 30em;

    transform: translateX(-$gutter);
  }
}
